GREEN_API_URL=https://7105.api.greenapi.com
GREEN_API_INSTANCE_ID=1101000001
GREEN_API_TOKEN=your_api_token
GREEN_API_CHAT_ID=79990000000@c.us
GREEN_API_EXPECTED_STATE=authorized
GREEN_API_REQUEST_TIMEOUT_MS=15000

RUN_UI_TESTS=false
SELENIUM_BROWSER=chrome
SELENIUM_HEADLESS=true
SEND_MESSAGE_DOCS_URL=https://green-api.com/docs/api/sending/SendMessage/
